<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Gabriela Moraes - Social Media and Storytelling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="author" content="bslthemes" />

    <!-- grid css -->
    <link rel="stylesheet" href="/css/plugins/bootstrap-grid.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="/css/plugins/swiper.min.css">
    <!-- okai css -->
    <link rel="stylesheet" href="/css/style-light.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" th:if="${false}">

</head>

<body>

    <!-- wrapper -->
    <div id="smooth-wrapper" class="mil-page-wrapper">

        <!-- preloader -->
        <div class="mil-preloader">
            <div class="mil-h1 mil-fs24">Loading<span class="mil-accent">...</span></div>
            <div class="mil-curtain"></div>
            <div class="mil-load"></div>
        </div>
        <!-- preloader end -->

        <!-- cursor -->
        <div class="mil-cursor-follower"></div>
        <!-- cursor end -->

        <!-- scroll progress -->
        <div class="mil-progress-track">
            <div class="mil-progress"></div>
        </div>
        <!-- scroll progress end -->

        <!-- top panel -->
        <div class="mil-top-panel">
            <a href="index.html" class="mil-logo mil-c-gone">G.</a>
            <div class="mil-menu-btn"><span></span></div>
        </div>
        <!-- top panel end -->

        <!-- sidebar -->
        <div class="mil-sidebar">
            <ul class="mil-social mil-c-gone">
                <li><a href="https://facebook.com/" target="blank" th:if="${false}">fb.</a></li>
                <li><a href="https://instagram.com/gabiomoraes" target="blank">@gabiomoraes</a></li>
                <li><a href="https://x.com/" target="blank" th:if="${false}">x.com</a></li>
                <li><a href="https://youtube.com/" target="blank" th:if="${false}">yt.</a></li>
            </ul>
            <div>
                <h2 class="mil-fs24 mil-mb60" th:if="${false}">Josie West</h2>
                <ul class="mil-main-menu mil-onepage-menu mil-c-gone">
                    <li>
                        <a href="#home">Home</a>
                        <ul>
                            <li><a href="index.html">Onepage</a></li>
                            <li><a href="/home-2.html" th:if="${false}">Multipage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#blog">Blog</a>
                    </li>
                    <li>
                        <a href="#skills">Skills</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li th:if="${false}">
                        <a href="#home">Versions</a>
                        <ul>
                            <li>
                                <a href="/home-1-dark.html">Switch to Dark</a>
                            </li>
                            <li>
                                <a href="/home-2.html">Switch to Multipage</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <p class="mil-soft">© 2025 All rights reserved.</p>
        </div>
        <!-- sidebar end -->

        <!-- content -->
        <div id="smooth-content" class="mil-content">

            <div class="mil-content-frame" id="home">

                <!-- banner -->
                <div class="mil-banner mil-container-out-right">
                    <div class="row mil-aic">
                        <div class="col-xl-6">
                            <div class="mil-banner-text">
                                <p class="mil-suptitle mil-fs16 mil-mb50">Social media <span class="mil-accent">and</span> Storytelling</p>
                                <h1 class="mil-fs90 mil-upper mil-mb40"><span class="mil-text-bg">Hello I<span class="mil-accent">’</span>m</span> <span class="mil-text-bg"><span class="mil-accent"><br>Gabriela</span> Moraes</span></h1>
                                <p class="mil-fs16 mil-shortened mil-soft mil-mb60">I believe that collaboration and creativity are the cornerstones of progress, and I am dedicated to bringing a fresh perspective to every project I undertake.</p>
                                <div class="mil-c-gone"><a href="#" class="mil-btn mil-btn-border">Explore my work</a></div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="mil-banner-image">
                                <img src="/img/1742732063003.jpg" alt="portrait" class="mil-scale-img" data-value-1=".73" data-value-2="1.11">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- services -->
                <div class="mil-container mil-p-0-30" id="services">
                    <div class="row">
                        <div class="col-lg-8 mil-mb90">
                            <h2 class="mil-fs24 mil-mb30 mil-up">Services</h2>
                            <p class="mil-fs18 mil-up">From crafting <span class="mil-accent">visually captivating</span> designs to developing seamless and responsive websites, I ensure a holistic digital presence.</p>
                        </div>
                        <div class="col-12">
                            <div class="mil-service-item mil-mb60">
                                <div class="mil-icon-part mil-mb30">
                                    <img src="/img/icons/1.svg" alt="icon" class="mil-up">
                                    <h3 class="mil-fs20 mil-up">Design</h3>
                                </div>
                                <div class="mil-text-part">
                                    <p class="mil-fs16 mil-soft mil-mb30 mil-up">Immersed in the vibrant world of creativity, I specialize in designing visually striking and user-centric digital experiences.</p>
                                    <ul class="mil-fs16">
                                        <li class="mil-up">Web User Interface</li>
                                        <li class="mil-up">Marketing and Branding</li>
                                        <li class="mil-up">Animation 3D</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mil-divider mil-mb60 mil-up"></div>
                            <div class="mil-service-item mil-mb60">
                                <div class="mil-icon-part mil-mb30">
                                    <img src="/img/icons/2.svg" alt="icon" class="mil-up">
                                    <h3 class="mil-fs20 mil-up">Develop</h3>
                                </div>
                                <div class="mil-text-part">
                                    <p class="mil-fs16 mil-soft mil-mb30 mil-up">As a seasoned developer, I translate design concepts into functional and responsive websites that go beyond aesthetics.</p>
                                    <ul class="mil-fs16">
                                        <li class="mil-up">HTML, CSS and Javascript</li>
                                        <li class="mil-up">CMS WordPress</li>
                                        <li class="mil-up">Webflow</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mil-divider mil-mb60 mil-up"></div>
                            <div class="mil-service-item mil-mb60">
                                <div class="mil-icon-part mil-mb30">
                                    <img src="/img/icons/3.svg" alt="icon" class="mil-up">
                                    <h3 class="mil-fs20 mil-up">Write</h3>
                                </div>
                                <div class="mil-text-part">
                                    <p class="mil-fs16 mil-soft mil-mb30 mil-up">Crafting engaging and engaging content is at the core of my services. I understand the power of words to convey history.</p>
                                    <ul class="mil-fs16">
                                        <li class="mil-up">Blogs</li>
                                        <li class="mil-up">Magazines</li>
                                        <li class="mil-up">Guides and Manuals</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mil-divider mil-mb60 mil-up"></div>
                            <div class="mil-service-item mil-mb60">
                                <div class="mil-icon-part mil-mb30">
                                    <img src="/img/icons/4.svg" alt="icon" class="mil-up">
                                    <h3 class="mil-fs20 mil-up">Promote</h3>
                                </div>
                                <div class="mil-text-part">
                                    <p class="mil-fs16 mil-soft mil-mb30 mil-up">My digital marketing services encompass a strategic blend of SEO, social media management, email campaigns, and more.</p>
                                    <ul class="mil-fs16">
                                        <li class="mil-up">Social Networking</li>
                                        <li class="mil-up">Content Portals</li>
                                        <li class="mil-up">Communities</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- services end -->

                <!-- about -->
                <div class="mil-container" id="about">
                    <div class="row">
                        <div class="col-lg-8 col-xl-6 mil-mb90">
                            <h2 class="mil-fs24 mil-mb30 mil-up">About</h2>
                            <p class="mil-fs18 mil-up">Hello there! I'm <span class="mil-accent">Gabriela Moraes</span>, a native New Yorker driven by innovation and a passion for creative expression.</p>
                        </div>
                    </div>
                </div>
                <div class="mil-container-out">
                    <div class="mil-about-banner">
                        <div class="mil-up" style="position: relative; z-index: 2">
                            <div class="mil-sign">Gabi</div>
                        </div>
                        <div class="mil-image-frame mil-up">
                            <img src="/img/2.png" alt="banner" class="mil-scale-img" data-value-1="1" data-value-2="1.25">
                        </div>
                    </div>
                </div>
                <div class="mil-container mil-p-90-90 mil-1200-p-30-90">
                    <div class="row flex-sm-row-reverse">
                        <div class="col-xl-6" style="position: relative;">
                            <ul class="mil-contact-info mil-mb30 mil-up">
                                <li>
                                    <h6 class="mil-fs16 mil-mb10 mil-up">Email</h6>
                                    <p class="mil-fs16 mil-soft mil-up">gabriela@gabrielamoraes.digital</p>
                                </li>
                                <li>
                                    <h6 class="mil-fs16 mil-mb10 mil-up">Role</h6>
                                    <p class="mil-fs16 mil-soft mil-up">Social Media and Storytelling</p>
                                </li>
                                <li>
                                    <h6 class="mil-fs16 mil-mb10 mil-up">Phone</h6>
                                    <p class="mil-fs16 mil-soft mil-up">(+351) 963 927 952</p>
                                </li>
                                <li>
                                    <h6 class="mil-fs16 mil-mb10 mil-up">Get in Touch</h6>
                                    <div class="mil-up mil-c-gone"><a href="#." class="mil-text-link mil-fs16">Download CV</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <p class="mil-soft mil-fs16 mil-mb30 mil-up">Hello there! I'm Josie West, a native New Yorker driven by innovation and a passion for creative expression. My journey into the digital realm began in the heart of the bustling streets of New York City. Growing up surrounded by the dynamic energy of the city, I developed a keen interest in harnessing technology to improve our digital lives.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="mil-soft mil-fs16 mil-mb30 mil-up">What sets me apart is not just my technical expertise but also my commitment to sharing great ideas that elevate the digital presence of my clients. I believe that collaboration and creativity are the cornerstones of progress, and I am dedicated to bringing a fresh perspective to every project I undertake.</p>
                        </div>
                        <div class="col-lg-6">
                            <p class="mil-soft mil-fs16 mil-mb30 mil-up">My academic pursuit led me to New York University (NYU), where I delved into the world of arts and letters. It was here that my creative instincts flourished, and I discovered the power of merging artistic concepts with the limitless possibilities of the digital landscape.</p>
                        </div>
                        <div class="col-lg-12">
                            <p class="mil-soft mil-fs16 mil-up">Fuelled by my love for both art and technology, I embarked on a career path that seamlessly blends these two worlds. Currently, I offer Web Design and Development and Digital Marketing services to ambitious companies brimming with incredible potential for success. Whether it's crafting visually captivating websites or devising innovative digital marketing strategies, I thrive on transforming ideas into impactful digital experiences.</p>
                        </div>
                    </div>
                </div>
                <!-- about end -->

                <!-- portfolio -->
                <div class="mil-container" id="portfolio">
                    <div class="row">
                        <div class="col-lg-8 mil-mb90">
                            <h2 class="mil-fs24 mil-mb30 mil-up">Portfolio</h2>
                            <p class="mil-fs18 mil-up">What sets me apart is not just my <span class="mil-accent">technical expertise</span> but also my commitment to sharing great ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="mil-container-out mil-p-0-90">
                    <div class="swiper-container mil-portfolio-slider mil-up mil-c-swipe mil-c-light">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="mil-portfolio-item">
                                    <img src="/img/portfolio/1.jpg" alt="banner" class="mil-scale-img" data-value-1="1" data-value-2="1.25">
                                    <a href="#" class="mil-overlay mil-c-gone">Read more</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="mil-portfolio-item">
                                    <img src="/img/portfolio/2.jpg" alt="banner" class="mil-scale-img" data-value-1="1" data-value-2="1.25">
                                    <a href="#" class="mil-overlay mil-c-gone">Read more</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="mil-portfolio-item">
                                    <img src="/img/portfolio/3.jpg" alt="banner" class="mil-scale-img" data-value-1="1" data-value-2="1.25">
                                    <a href="#" class="mil-overlay mil-c-gone">Read more</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="mil-portfolio-item">
                                    <img src="/img/portfolio/5.jpg" alt="banner" class="mil-scale-img" data-value-1="1" data-value-2="1.25">
                                    <a href="#" class="mil-overlay mil-c-gone">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mil-swiper-pagination mil-tac mil-up"></div>
                </div>
                <!-- portfolio end -->

                <!-- blog -->
                <div class="mil-container mil-p-0-90" id="blog">
                    <div class="row">
                        <div class="col-lg-8 col-xl-6 mil-mb90">
                            <h2 class="mil-fs24 mil-mb30 mil-up">Blog</h2>
                            <p class="mil-fs18 mil-up">My academic pursuit led me to <span class="mil-accent">New York University</span> (NYU), where I delved into the world of arts and letters.</p>
                        </div>
                        <div class="col-12">
                            <div class="swiper-container mil-blog-slider mil-up" style="overflow: hidden">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="mil-blog-item">
                                            <div class="mil-pub-cover mil-c-swipe mil-c-light">
                                                <img src="/img/blog/1.jpg" alt="banner" class="mil-scale-img" data-value-1="1" data-value-2="1.25">
                                                <a href="#" class="mil-overlay mil-c-gone">Read more</a>
                                            </div>
                                            <div class="mil-descr">
                                                <div class="mil-left">
                                                    <h3 class="mil-fs20 mil-mb10 mil-up mil-c-gone"><a href="#." class="mil-c-gone">Design Dynamics: Unraveling a Decade of Graphic Evolution</a></h3>
                                                    <ul class="mil-pub-info mil-up">
                                                        <li><a href="#." class="mil-c-gone">Creativity</a></li>
                                                        <li>3 min ago</li>
                                                    </ul>
                                                </div>
                                                <div class="mil-right">
                                                    <p class="mil-soft mil-fs16 mil-up">Explore the dynamic shifts in graphic design over the past decade, unveiling the evolving trends, technologies, and creative dynamics that have shaped the visual landscape. Join us on a journey through the transformative power of design over the years.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="mil-blog-item">
                                            <div class="mil-pub-cover mil-c-swipe mil-c-light">
                                                <img src="/img/blog/2.jpg" alt="banner" class="mil-scale-img" data-value-1="1" data-value-2="1.25">
                                                <a href="#" class="mil-overlay mil-c-gone">Read more</a>
                                            </div>
                                            <div class="mil-descr">
                                                <div class="mil-left">
                                                    <h3 class="mil-fs20 mil-mb10 mil-up mil-c-gone"><a href="#." class="mil-c-gone">Design Dynamics: Unraveling a Decade of Graphic Evolution</a></h3>
                                                    <ul class="mil-pub-info mil-up">
                                                        <li><a href="#." class="mil-c-gone">Creativity</a></li>
                                                        <li>3 min ago</li>
                                                    </ul>
                                                </div>
                                                <div class="mil-right">
                                                    <p class="mil-soft mil-fs16 mil-up">Explore the dynamic shifts in graphic design over the past decade, unveiling the evolving trends, technologies, and creative dynamics that have shaped the visual landscape. Join us on a journey through the transformative power of design over the years.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="mil-blog-item">
                                            <div class="mil-pub-cover mil-c-swipe mil-c-light">
                                                <img src="/img/blog/3.jpg" alt="banner" class="mil-scale-img" data-value-1="1" data-value-2="1.25">
                                                <a href="#" class="mil-overlay mil-c-gone">Read more</a>
                                            </div>
                                            <div class="mil-descr">
                                                <div class="mil-left">
                                                    <h3 class="mil-fs20 mil-mb10 mil-up mil-c-gone"><a href="#." class="mil-c-gone">Design Dynamics: Unraveling a Decade of Graphic Evolution</a></h3>
                                                    <ul class="mil-pub-info mil-up">
                                                        <li><a href="#." class="mil-c-gone">Creativity</a></li>
                                                        <li>3 min ago</li>
                                                    </ul>
                                                </div>
                                                <div class="mil-right">
                                                    <p class="mil-soft mil-fs16 mil-up">Explore the dynamic shifts in graphic design over the past decade, unveiling the evolving trends, technologies, and creative dynamics that have shaped the visual landscape. Join us on a journey through the transformative power of design over the years.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mil-swiper-pagination-2 mil-tac mil-up"></div>
                        </div>
                    </div>
                </div>
                <!-- blog end -->

                <!-- skills -->
                <div class="mil-container mil-p-0-90" id="skills">
                    <div class="row">
                        <div class="col-xl-8 mil-mb90">
                            <h2 class="mil-fs24 mil-mb30 mil-up">Skills</h2>
                            <p class="mil-fs18 mil-up">Fuelled by my love for both <span class="mil-accent">art and technology</span>, I embarked on a career path that seamlessly blends these two worlds.</p>
                        </div>
                        <div class="col-12">
                            <p class="mil-suptitle mil-fs14 mil-mb10 mil-up">UI/UX</p>
                            <div class="mil-prog-track mil-mb60 mil-add-class mil-up">
                                <div class="mil-prog" data-number="75"></div>
                            </div>
                            <p class="mil-suptitle mil-fs14 mil-mb10 mil-up">WordPress</p>
                            <div class="mil-prog-track mil-mb60 mil-add-class mil-up">
                                <div class="mil-prog" data-number="85"></div>
                            </div>
                            <p class="mil-suptitle mil-fs14 mil-mb10 mil-up">Figma</p>
                            <div class="mil-prog-track mil-mb60 mil-add-class mil-up">
                                <div class="mil-prog" data-number="70"></div>
                            </div>
                            <p class="mil-suptitle mil-fs14 mil-mb10 mil-up">Generative AI</p>
                            <div class="mil-prog-track mil-mb60 mil-add-class mil-up">
                                <div class="mil-prog" data-number="65"></div>
                            </div>
                            <p class="mil-suptitle mil-fs14 mil-mb10 mil-up">Google Analytics</p>
                            <div class="mil-prog-track mil-mb90 mil-add-class mil-up">
                                <div class="mil-prog" data-number="80"></div>
                            </div>
                            <p class="mil-soft mil-fs16 mil-up">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        </div>
                    </div>
                </div>
                <!-- skills end -->

                <!-- experience -->
                <div class="mil-container mil-p-0-30">
                    <div class="row">
                        <div class="col-xl-8 mil-mb60">
                            <h2 class="mil-fs24 mil-up">Experience</h2>
                        </div>
                        <div class="col-md-6">
                            <div class="mil-exp-item mil-mb60">
                                <div class="mil-date mil-up">
                                    <span class="mil-soft">2024</span> - <span class="mil-accent">Present</span>
                                </div>
                                <div>
                                    <h6 class="mil-fs16 mil-mb10 mil-up">Web User Interface</h6>
                                    <p class="mil-fs16 mil-soft mil-up">( Pixel Pioneer )</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mil-exp-item mil-mb60">
                                <div class="mil-date mil-up">
                                    <span class="mil-soft">2024</span> - <span class="mil-accent">Present</span>
                                </div>
                                <div>
                                    <h6 class="mil-fs16 mil-mb10 mil-up">Animation 3D</h6>
                                    <p class="mil-fs16 mil-soft mil-up">( Digital Artisan )</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mil-exp-item mil-mb60">
                                <div class="mil-date mil-up">
                                    <span class="mil-soft">2024</span> - <span class="mil-accent">Present</span>
                                </div>
                                <div>
                                    <h6 class="mil-fs16 mil-mb10 mil-up">Frontend</h6>
                                    <p class="mil-fs16 mil-soft mil-up">( Code Connoisseur )</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mil-exp-item mil-mb60">
                                <div class="mil-date mil-up">
                                    <span class="mil-soft">2024</span> - <span class="mil-accent">Present</span>
                                </div>
                                <div>
                                    <h6 class="mil-fs16 mil-mb10 mil-up">Branding Design</h6>
                                    <p class="mil-fs16 mil-soft mil-up">( Brand Illuminator )</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- experience end -->

                <!-- contact -->
                <div class="mil-container" id="contact">
                    <div class="row">
                        <div class="col-xl-8 mil-mb60">
                            <h2 class="mil-fs24 mil-mb30 mil-up">Contact</h2>
                            <p class="mil-fs18 mil-up">I believe that <span class="mil-accent">collaboration and creativity</span> are the cornerstones of progress, and I am dedicated to bringing a fresh perspective.</p>
                        </div>
                    </div>
                    <div class="mil-divider mil-mb60 mil-up"></div>
                    <div class="row mil-mb30">
                        <div class="col-md-4 mil-mb60">
                            <h6 class="mil-fs16 mil-mb10 mil-up">Email</h6>
                            <p class="mil-fs16 mil-soft mil-up">josiew@mydomain.com</p>
                        </div>
                        <div class="col-md-4 mil-mb60">
                            <h6 class="mil-fs16 mil-mb10 mil-up">Address</h6>
                            <p class="mil-fs16 mil-soft mil-up">New York 11210, USA</p>
                        </div>
                        <div class="col-md-4 mil-mb60">
                            <h6 class="mil-fs16 mil-mb10 mil-up">Phone</h6>
                            <p class="mil-fs16 mil-soft mil-up">(300) 300 40 30</p>
                        </div>
                    </div>
                </div>
                <div class="mil-container-out">
                    <div class="mil-about-banner">
                        <div class="mil-image-frame mil-up">
                            <img src="/img/3.jpg" alt="banner" class="mil-scale-img" data-value-1="1" data-value-2="1.25">
                        </div>
                    </div>
                </div>
                <div class="mil-container mil-p-90-90">
                    <form>
                        <div class="row">
                            <div class="col-md-6 mil-mb60">
                                <input type="text" placeholder="What's your name">
                            </div>
                            <div class="col-md-6 mil-mb60">
                                <input type="text" placeholder="Your email">
                            </div>
                            <div class="col-lg-12 mil-mb60">
                                <textarea rows="10" placeholder="Tell us about our project"></textarea>
                            </div>
                            <div class="mil-jcb mil-aic">
                                <p class="mil-fs14 mil-soft" style="padding-right: 15px;">* We promise not to disclose your personal information to third parties.</p>
                                <div class="mil-c-gone"><button type="submit" class="mil-btn" disabled>Send message</button></div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- contact end -->

            </div>

        </div>
        <!-- content -->

    </div>
    <!-- wrapper end -->

    <!-- gsap js -->
    <script src="/js/plugins/gsap.min.js"></script>
    <!-- scroll smoother -->
    <script src="/js/plugins/ScrollSmoother.min.js"></script>
    <!-- scroll trigger js -->
    <script src="/js/plugins/ScrollTrigger.min.js"></script>
    <!-- scroll to js -->
    <script src="/js/plugins/ScrollTo.min.js"></script>
    <!-- swiper js -->
    <script src="/js/plugins/swiper.min.js"></script>
    <!-- okai js -->
    <script src="/js/main.js"></script>

</body>

</html>
