/* -------------------------------------------

fonts

------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Unbounded:wght@200..900&display=swap');

$font-1: "Unbounded", sans-serif;
$font-2: "Kanit", sans-serif;
$font-3: "Sacramento", cursive;

/* -------------------------------------------

colors

------------------------------------------- */

$m1: #1D1D1D;
$m2: #737373;
$m3: #F7F7F7;
$m4: #FFFFFF;

$a: #d63384;

/* -------------------------------------------

transition

------------------------------------------- */

$tsm: .2s cubic-bezier(0, 0, 0.3642, 1);
$tmd: .4s cubic-bezier(0, 0, 0.3642, 1);
$tlg: .6s cubic-bezier(0, 0, 0.3642, 1);
$txl: .8s cubic-bezier(0, 0, 0.3642, 1);